.container
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
      = image_tag 'Boats-co-uk-since1969Final.png', class: 'logo'

      = simple_form_for UploadForm.new, url: upload_path, method: :post do |f|
        = f.input :name
        = f.input :boat_id, collection: Boat.where(state: :completed, is_live: true).sort_by(&:display_description), value_method: :id, label_method: :display_description
        = f.input :comment, as: :text, input_html: { rows: 4 }

        #file-upload.dropzone.needsclick{ action: upload_file_path }
          .dz-message.needsclick
            Drop files here or click to upload.

        .text-right
          = f.submit 'Upload', class: 'btn btn-primary', data: { disable_with: 'Uploading' }, disabled: true