%p Hi Dan,

%p You've received a new message from Citycareerlab.com :
%br
= "Name: #{@contact.name}"
%br
= "Email: #{@contact.email}"
%br
= "Message: #{@contact.message}"

%br
Sent from Citycareerlab.com
