%header
  .container.navbar-container
    %nav.navbar.navbar-expand-lg.navbar-light
      = link_to '/', class: 'navbar-brand' do
        = image_tag('logo.svg', alt: 'Logo')
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
          -# %li.nav-item.active
          -#   %a.nav-link{:href => "#"}
          -#     Home
          -#     %span.sr-only (current)
          %li.nav-item.d-flex.align-items-center.justify-content-center.p-relative{ class: active_if(body_id == 'home-about') }
            = link_to about_path, class: "nav-link #{active_if(body_id == 'home-about')}" do
              %span About Me
          %li.nav-item.d-flex.align-items-center.justify-content-center.mwp-135
            = link_to '/#consultation', class: 'nav-link' do
              %span Do I need a Career Coach?
          %li.nav-item.d-flex.align-items-center.justify-content-center.mwp-100{ class: active_if(body_id == 'home-products_and_services') }
            = link_to products_and_services_path, class: "nav-link #{active_if(body_id == 'home-products_and_services')}" do
              %span Services
          %li.nav-item.d-flex.align-items-center.justify-content-center{ class: active_if(body_id == 'home-job_market_index') }
            = link_to job_market_index_path, class: "nav-link #{active_if(body_id == 'home-job_market_index')}" do
              %span Job Market Index
          %li.nav-item.d-flex.align-items-center.justify-content-center{ class: active_if(body_id == 'home-faq') }
            = link_to '/faq', class: "nav-link #{active_if(body_id == 'home-faq')}" do
              %span FAQ's
          %li.nav-item.d-flex.align-items-center.justify-content-center{ class: active_if(body_id == 'home-media') }
            = link_to '/media', class: "nav-link #{active_if(body_id == 'home-media')}" do
              %span Media
          %li.nav-item.d-flex.align-items-center.justify-content-center{ class: active_if(body_id.include?('blog')) }
            = link_to '/blog', class: "nav-link #{active_if(body_id.include?('blog'))}" do
              %span Blog
          %li.nav-item.d-flex.align-items-center.justify-content-center
            = link_to '/#contact', class: 'nav-link' do
              %span Contact
