%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav.w-100
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#"}
        %i.fa.fa-bars
    - if user_signed_in?
      %li.nav-item.ml-auto
        = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
          -# %i.fa.fa-sign-out
          Logout

%aside.main-sidebar.elevation-4.sidebar-dark-primary
  %a.brand-link.logo-switch{:href => admin_path }
    = image_tag 'logo-for-dark-bg.png', class: 'brand-image brand-text'
  .sidebar.os-host.os-theme-light.os-host-overflow.os-host-overflow-y.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden.os-host-transition
    .os-padding
      .os-viewport.os-viewport-native-scrollbars-invisible
        .os-content
          %nav.mt-2
            %ul.nav.nav-pills.nav-sidebar.nav-child-indent.flex-column{ data: { widget: 'treeview' }, rule: :menu }
              %li.nav-item
                = link_to posts_path, class: "nav-link #{active_if(body_id.include?('posts-'))}" do
                  %i.nav-icon.fas.fa-copy
                  %p Posts
              %li.nav-item
                = link_to orders_path, class: "nav-link #{active_if(body_id.include?('orders-'))}" do
                  %i.nav-icon.fas.fa-pound-sign
                  %p Orders
              %li.nav-item
                = link_to job_indices_path(job_indices_grid: { date: 0.month.ago.to_date }), class: "nav-link #{active_if(body_id.include?('job_indices-'))}" do
                  %i.nav-icon.fas.fa-chart-bar
                  %p Job Index
