!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title CCL Dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'admin', media: 'all'
    = javascript_pack_tag 'admin'
    = stylesheet_link_tag 'admin', media: 'all'
  %body.sidebar-mini.layout-fixed.layout-navbar-fixed{:id => body_id}
    .wrapper
      = render 'layouts/sidebar'
      .content-wrapper
        = flash_messages
        = yield
