!!!
%html{ lang: 'en' }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title= yield(:title).presence
    %meta{name: 'description', content: yield(:description).presence || 'Transformational Career coaching and mentoring for the Financial Services industry' }
    %meta{name: 'keywords', content: yield(:tags)}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: 'defer'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = yield
